body
{
    background-image:url(j.jpg);
    margin:1px 10px;
    padding:1px 10px;
}
header
{
    background:url(bgs.jpg);
    box-shadow:2px 2px orange;
    font-size:1.4em;
    padding:2em;
    text-align:center;
}
header figure img
{
    float:right;
    padding:0.2em 0.2em 0 0;
    margin:0.2em 0.2em 0 0;
    width:50px;
}
h1 {
	margin: 0;
	padding: 0;
    font-size:2em;
    color:white;
    text-shadow:2.5px 2.5px #000;
}  
section
{
    background:url(sailor.jpg);
    box-shadow:2px 2px orange;
    height:500px;
}
article
{
    background-color: rgba(234,200,34,0.6);
    color:blue;
    float:right;
    font-size:1.3em;
    margin:2px;
    padding:2px;
    text-shadow:1.5px 1.5px lime;
}
footer{
    background:fuchsia;
    box-shadow:2px 2px orange;
    color:yellow;
    font-size:2em;
    text-shadow:2px 2px blue;
}